
body {
    background: url('../images/back.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a, a:visited {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
    color: #ddd;
}

#header ul, .main-col, .main-col h1 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.clearfix {
    clear: both;
}

#wrapper {
    width: 1000px;
    margin: auto;
}

#header {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

#homelink {
    display: block;
    background: url('../images/banner2.png') no-repeat;
    height: 240px;
    width: 320px;
    margin: auto;
}

#header ul {
    background: rgba(200,200,200,0.8);
    border: 1px solid #bbb;
    font-size: 1.5em;
}

#header ul, #header ul li {
    padding: 0;
    margin: auto;
    list-style: none;
}
#header a, #header a:hover, #header a:visited {
    text-decoration: none;
    color: #fff;
}

.main-col {
    background: rgba(200,200,200,0.8);
    border: 1px solid black;
}
.main-col h1 {
    background: rgba(200,200,200,0.8);
    margin: 0;
}
.main-col h2 {
    background: rgba(200,200,200,0.5);
    margin: 0;
}
.main-col h3 {

}
.main-col h1 a, .main-col h1 a:hover, .main-col h1 a:visited {
    color: #000;
}

#currentSeason {
    text-align: center;
}

#lastMatch {
    margin-bottom: 10px;
}
#lastMatch .mapname {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#lastMatch p {
    margin: 0;
    padding: 5px 0 5px 0;
    text-align: center;
    display: block;
    float: left;
    vertical-align: middle;
}
#lastMatch p.teamname {
    width: 45%;
}
#lastMatch p.result {
    width: 5%;
}

#season .column {
    width: 25%;
    margin: 0;
    padding: 0;
    float: left;
}

.column h1 {
    font-size: 1.4em;
    text-align: center;
}

.column a {
    font-size: 1em;
    font-weight: bold;
}
#matchesUpcoming ul li, #matchesPlayed ul li {
    list-style: none;
    padding: 0 0 10px 0;
    margin: 10px 5px;
    text-align: center;
    border-bottom: 1px solid black;
}
#matchesUpcoming ul, #matchesPlayed ul {
    margin: 0;
    padding: 0;
}
#matchesUpcoming ul li p, #matchesPlayed ul li p {
    margin: 0;
}
#matchesUpcoming ul li p.name, #matchesPlayed ul li p.name {
    margin: 10px 0;
    font-weight: bold;
}

#team h1, #player h1, #match h1, #match #teams h2, #match .clash h2 {
    text-align: center;
}
#team table {
    border: 0;
    padding: 10px;
    font-size: 1.2em;
}
#team .statLabel, #player .statLabel {
    text-align: right;
    padding-right: 5px;
}
#team .statValue, #player .statValue {
    text-align: left;
    padding-left: 5px;
}

#team #players, #team #matchesUpcoming, #team #matchesPlayed {
    width: 33%;
    margin: 0;
    float: left;
}

#player .column {
    width: 33%;
    margin: 0;
    float: left;
}

#match #stats, #match #clashes .clash {
    text-align: center;
    clear: both;
}

#match h2 {
    margin: 10px 0;
    background: none;
}
#match #teams h2 {
    font-size: 2.5em;
}
#match .clash {
    margin-top: 80px;
}
#match .clash .image, #match .clash .yt {
    width: 50%;
    float: left;
}
#match .clash .image img {
    width: 400px;
    height: 225px;
}
#match h1 table {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
#match h1 table td {
    width: 50%;
    text-align: center;
}

#match #clashes .team1 {
    text-align: right;
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
}
#match #clashes .team2 {
    text-align: left;
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
}

.team1 h2 {
    text-align: right;
    padding-right: 10px;
}
.team2 h2 {
    text-align: left;
    padding-left: 10px;
}

#match .playerStats {
    display: none;
    list-style: none;
}

#match .team1 h2:hover .playerStats, #match .team2. h2:hover .playerStats {
    display: block !important;
}

#match .team1 h2:hover, #match .team2 h2:hover {
    background: blue;
}

#footer {
    text-align: center;
    background: rgba(200,200,200,0.8);
    border: 1px solid #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
#footer a {
    color: black;
}