
body {
    background: url('../images/back.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a, a:visited {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
    color: #ddd;
}

#header ul, .main-col, .main-col h1 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.clearfix {
    clear: both;
}

#wrapper {
    width: 1000px;
    margin: auto;
}

#header {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

#homelink {
    display: block;
    background: url('../images/banner2.png') no-repeat;
    height: 240px;
    width: 320px;
    margin: auto;
}

#header ul {
    background: rgba(200,200,200,0.8);
    border: 1px solid #bbb;
    font-size: 1.5em;
}

#header ul, #header ul li {
    padding: 0;
    margin: auto;
    list-style: none;
}
#header a, #header a:hover, #header a:visited {
    text-decoration: none;
    color: #fff;
}

.main-col {
    background: rgba(200,200,200,0.8);
    border: 1px solid black;
}
.main-col h1 {
    background: rgba(200,200,200,0.8);
    margin: 0;
}
.main-col h2 {
    background: rgba(200,200,200,0.5);
    margin: 0;
}
.main-col h3 {
    margin-top: 0;
}
.main-col h1 a, .main-col h1 a:hover, .main-col h1 a:visited {
    color: #000;
}

#currentSeason {
    text-align: center;
}

#season #teams {
    width: 24%;
    margin: 0;
    padding: 3px;
    float: left;
}

#season #matchesUpcoming, #season #matchesPlayed, #season #players {
    width: 24%;
    margin: 0;
    float: left;
}

#team #players, #team #matchesUpcoming, #team #matchesPlayed {
    width: 33%;
    margin: 0;
    float: left;
}

#match #stats, #match #clashes .clash {
    text-align: center;
    clear: both;
}

#match #clashes .team1 {
    text-align: right;
    float: left;
    width: 45%;
    margin: 0;
    padding: 10px;
}
#match #clashes .team2 {
    text-align: left;
    float: left;
    width: 45%;
    margin: 0;
    padding: 10px;
}
