
body {
    background: url('../images/season2.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#homelink {
    display: block;
    background: url('../images/utlogo.png') no-repeat;
    height: 256px;
    width: 256px;
    margin: auto;
}